.spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar {
    background-color: #2196F3;
    color: white;
  }
  
  mat-footer {
    text-align: center;
    padding: 20px;
    background-color: #F1F1F1;
  }
  
  button {
    margin: 10px;
  }
  